@model OnlineJobApplication.ViewModels.Admin.JobDetailsViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- The Modal -->
<div id="userModalWrapper">
    @Html.Partial("_UserModal")
</div>
<h2 class="text-info"><span class="text-black-50">Job Title:</span> @Model.JobModel.Title</h2>
<hr />
<div class="row">
    <div class="col align-self-center col-md-11">
        <h5>Job Applicants</h5>
        <table class="table table-hover table-dark" id="userList">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th>Current Satge</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section styles{
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            var dataSet = @Html.Raw(Json.Encode(@Model.UserList));
            $('#userList').DataTable({
                "processing": true,
                "data": dataSet,
                "columns": [
                    {
                        "render": function (data, type, row, meta) {
                            return '<a class="pointer nav-link" onclick="userModal('+row.Id+','+@Model.JobModel.Id+')">' +
                                '<label class="pointer text-light">' + row.Name + ', ' + row.IcNumber +'</label>' +
                            '</a > ';
                        }
                    },
                    {

                        "render": function (data, type, row, meta) {
                            return '<h6><span class="badge badge-secondary">'+row.CurrentStage+'</span></h4>';
                        }
                    }
                ]
            });
        });

        function userModal(userId, jobId) {
            $.ajax({
                url: '/Admin/_UserModal/',
                data: {
                    id: userId,
                    jobId: jobId
                },
                success: function (data) {
                    $('#userModalWrapper').html(data);
                    $('#userModal').data('validator', null);
                    $.validator.unobtrusive.parse('#userModal');
                    $(function () {
                        $('#userModal').modal('show');
                    });
                }
            });
        }

        function nextStage(userJobApplicationId, stageId, jobId)
        {
            $.ajax({
                url: '/Admin/NextStage/',
                data: {
                    UserJobApplicationId: userJobApplicationId,
                    StageId: stageId,
                    jobId : jobId
                },
                success: function (data) {
                    location.reload();
                }
            });
        }
    </script>
}

