@model OnlineJobApplication.ViewModels.JobSeeker.JobStatusViewModel
@{
    ViewBag.Title = "JobStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Job Status List</h2>
<div class="row mt-2">
    <div class="col-md-12">
        <div id="jobList">
            @{
                for (int count = 0; count < Model.JobList.Count; count++)
                {
                    <a class="card mt-2 bg-light pointer nav-link">
                        <div class="card-body">
                            <h4 class="text-info">@Model.JobList[count].Title</h4>
                            <h6><span class="badge badge-secondary">@Model.JobList[count].CareerAreas</span></h6>
                            <p><i>Status: @Model.JobList[count].CurrentStage</i></p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</div>
