@using Microsoft.AspNet.Identity

<span class="user-name text-light">
    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="text-light"})
</span>
